.DS_Store
/.build
/.idea
/.swiftpm
/Packages
*~
xcuserdata
xcbaselines
/_test
/docs
/build
mined_words.txt
/*DescriptorTestData.bin
*/json
/Package.resolved

# Intermediate conformance test outputs
failing_tests.txt
nonexistent_tests.txt
