// Deployment
SKIP_INSTALL = YES
COMBINE_HIDPI_IMAGES = YES
IPHONEOS_DEPLOYMENT_TARGET = 8.0
MACOSX_DEPLOYMENT_TARGET = 10.9
TVOS_DEPLOYMENT_TARGET = 9.0
WATCHOS_DEPLOYMENT_TARGET = 2.0

// Build Options
APPLICATION_EXTENSION_API_ONLY = YES

// Linking
DYLIB_CURRENT_VERSION = 1
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_INSTALL_NAME_BASE = @rpath
CURRENT_PROJECT_VERSION = 1.9.0

// Packaging
PRODUCT_NAME = $(TARGET_NAME)

// Search Paths
ALWAYS_SEARCH_USER_PATHS = NO
USE_HEADERMAP = NO

// Apple Clang - Code Generation
GCC_NO_COMMON_BLOCKS = YES

// Apple Clang - Language - Objective-C
CLANG_ENABLE_OBJC_WEAK = YES

// Apple Clang - Preprocessing
ENABLE_STRICT_OBJC_MSGSEND = YES

// Apple Clang - Warning Policies
GCC_TREAT_WARNINGS_AS_ERRORS = YES

// Apple Clang - Warnings - All languages
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
CLANG_WARN_DOCUMENTATION_COMMENTS = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
CLANG_WARN_INFINITE_RECURSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_COMMA = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
CLANG_WARN_UNREACHABLE_CODE = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES

// Apple Clang - Warnings - C++
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES

// Apple Clang - Warnings - Objective-C
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR

// Apple Clang - Warnings - Objective-C and ARC
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES

// Static Analyzer - Generic Issues
CLANG_ANALYZER_NONNULL = YES

// Static Analyzer - Issues - Apple APIs
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES

// Swift Compiler - Custom Flags
OTHER_SWIFT_FLAGS = -DXcode

// Swift Compiler - Language
SWIFT_VERSION = 5.0

// Swift Compiler - Warning Policies
SWIFT_TREAT_WARNINGS_AS_ERRORS = YES
