// Architectures
SDKROOT = iphoneos
SUPPORTED_PLATFORMS = iphonesimulator iphoneos

// Deployment
TARGETED_DEVICE_FAMILY = 1,2

// Packaging
INFOPLIST_FILE = SwiftProtobuf.xcodeproj/Protobuf_Info.plist
PRODUCT_BUNDLE_IDENTIFIER = org.swift.protobuf.SwiftProtobuf
PRODUCT_MODULE_NAME = SwiftProtobuf
PRODUCT_NAME = SwiftProtobuf
