name: Draft release protoc artifactbundle

on:
  workflow_dispatch:

jobs:
  draft-release:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v4
      - name: Draft release and upload artifactbundle
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: cd ${{ github.workspace }} && .github/scripts/draft_release_protoc_artifactbundle.sh
  